appdirs
bokeh
cycler
decorator
entrypoints
et-xmlfile
ipykernel
ipython
ipython-genutils
ipywidgets
jdcal
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
openpyxl
packaging
pandas
pexpect
pickleshare
plotly
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
scipy
simplegeneric
six
terminado
tornado
traitlets
wcwidth
widgetsnbextension
xlrd
